.header-more--info {
  background-color: #fff;
  background-image: url("/img/more-info.jpg");
  background-position: 100% 40%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 35vh;
}
