.btn {
  border-radius: 0;
  color: #fff;
  font-size: 12px;
  &:hover {
    color: #fff;
  }
  &--main {
    background-color: $main-pink;
    font-family: $secondary-font;
    font-size: 1rem;
    padding: 10px 40px;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    transition: background-color 0.3s ease-in-out;
    &:hover {
      background-color: darken($main-pink, 5%);
    }
    &:focus {
      outline: 0;
    }
    @include respond(tab-port) {
      padding: 10px 23px;
      margin-left: 1rem;
      margin-top: -1rem;
    }
  }

  &__underline--pink {
    font-family: $secondary-font;
    border: none;
    color: #f9acbb;
    border-bottom: 1px solid $main-pink;
    padding-bottom: 7px;
    margin-top: 20px;
    transition: all 0.3s ease-in;
    background-color: transparent;
    &:hover {
      color: darken($main-pink, 2%);
    }
  }
}
a.btn--secondary {
  font-family: $third-font;
  background-color: $secondary-btn-color;
  padding: 12px 40px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: darken($secondary-btn-color, 5%);
  }
}
