// Colors
$main-pink: #fb7792;
// $light-pink: #ffd9ce;
$light-pink: #fff0eb;
$moderate-pink: #f9acbb;
$secondary-btn-color: #ce636f;

// Fonts
$main-font: "Unna", serif;
$secondary-font: "Raleway", sans-serif;
$third-font: "Montserrat", sans-serif;
